h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3A3A3A;
    font-weight: 600;
    letter-spacing: 1px; 
    
}     

form {
    width: 80%;
    margin: 0 auto;
    padding: 8px;
    border-radius: 6px; 
    border: none;
    display: block;

}

form input {
    color: #3A3A3A;
    border: 1px solid #DDD6CA;
    background: #FAF8F5;
}

.register-heading {
    color: #3A3A3A;
}

form label {
    color: #4A4A4A;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

body {
    margin: 0;
    background: #E8E3DA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', Arial, sans-serif;
}

.container {
    width: 850px;
    height: 559px;
    padding: 40px 50px;
    background: #F5F1EB;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,0.12);
}

label {
    color: #3A3A3A;
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    text-align: center; 
}

.btn {
     background: #CBBFA6; 
     color: white; 
     border: none;
     font-weight: 600;
     padding: 10px 15px;
     transition: 0.2s ease;
     border-radius: 6px;
}

.btn:hover {
    background: #B5A78C;
}


