body {
    background-color: #a09d80ff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #fff;
    background: #525734ff;
    padding: 12px;
    border-radius: 12px;
    width: 350px;
    margin: 25px auto;
    letter-spacing: 1px;
}

.chart-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    margin: 25px auto;
    width: 75%;
    max-width: 700px;
}

#myChart {
    background: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    max-width: 2000px;
    margin: 30px auto;
    display: block;
    width: 100%;
    height: 300px;
    display: block;

}

.chart-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.25);
}

#pieChart {
    background: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    max-width: 600px;
    margin: 30px auto;
    display: block;
    width: 100%;
    height: 300px;
}

#lineChart {
    display: block;
    width: 100%;
    height: 300px;
}

canvas {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    display: block;
    width: 60%;
    max-width: 800px;
    height: 350px;
    margin: 2px auto;
}